body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f3c3;
    }

header {
    background-color: #f3c009f0;
    color: #fff;
    padding: 20px;
}

nav ul  {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    background-color: black;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: yellow;
    padding: 10px;
    text-align: left;
    
    }
nav ul li a:hover {
    background-color: rgba(238, 220, 23, 0.959);
}
main {
    padding: 20px;
}

 
section {
    margin-bottom: 20px;
}

footer {
    color: black;  
    padding: 50px;
    text-align: center;
}